/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* GLOBAL */
body {
  font-family: "Roboto", sans-serif;
}
.container {
  width: 1024px;
  margin: auto;
}

/* HEADER */
header {
  background-color: aquamarine;
  height: 80px;
}
