/* FONTS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

/* GLOBAL */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f5f5;
}
.container {
  width: 1200px;
  margin: auto;
}
h1 {
  font-size: 30px;
  font-weight: 700;
}

/* HEADER */
header {
  border-bottom: solid 1px #bac3c3;
  background-color: #fff;
}

/* MAIN */
/* section restaurant */
.container-restaurant {
  background-color: #fff;
  padding: 30px 0;
}
.restaurant {
  display: flex;
}
h1 {
  margin-bottom: 20px;
}
h3 {
  font-size: 18px;
  font-weight: 300;
  line-height: 25px;
  color: #888c8c;
}
.photo {
  width: 350px;
  border-radius: 5px;
  margin-left: 20px;
}

/* section menu */
.container-menu {
  display: flex;
  margin-top: 30px;
}
.menu {
  flex: 2.5;
  margin-right: 20px;
}
.category:not(:last-child) {
  margin-bottom: 50px;
}
.container-meal {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
h2 {
  font-size: 24px;
  margin-bottom: 20px;
}
.meal {
  display: flex;
  justify-content: space-between;
  width: 400px;
  cursor: pointer;
  background-color: #fff;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 10px 0;
  height: 140px;
}
.meal:hover {
  box-shadow: 3px 3px 3px 3px #bac3c3;
  transition: 0.3s;
}
h4 {
  font-size: 18px;
  font-size: 300;
  margin-bottom: 10px;
}

.meal-details > p {
  font-size: 14px;
  margin-bottom: 10px;
}
.meal-details > p,
.meal-details > span {
  color: #888c8c;
}
.meal-details > span > strong {
  color: #fb7f00;
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
}
.picture {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 5px;
  margin-left: 20px;
}

.basket {
  flex: 1;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  height: 100%;
  font-weight: 300;
  position: sticky;
  top: 20px;
}
.empty-basket,
.filled-basket {
  width: 100%;
  height: 60px;
  border-radius: 5px;
  border: none;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
}
.empty-basket {
  background-color: #bac3c3;
  color: #8b999b;
  cursor: not-allowed;
}
.empty {
  text-align: center;
  margin: 30px 0;
}
.filled-basket {
  background-color: #28cdbd;
  color: #fff;
  cursor: pointer;
}
.sub-basket-container,
.delivery-charge {
  margin-bottom: 20px;
  border-bottom: 1px solid #bac3c3;
  padding-bottom: 20px;
}
.sub-basket,
.sub-total,
.delivery-charge,
.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sub-basket > div > span:nth-child(2) {
  margin-left: 10px;
}
.edit-basket {
  color: #28cdbd;
  font-size: 10px;
  border: 2px solid #28cdbd;
  border-radius: 50%;
  padding: 2px;
}
.sub-total,
.sub-basket:not(:last-child) {
  margin-bottom: 20px;
}
.total {
  font-size: 20px;
  font-weight: 500;
}
